<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="/javascripts/scripts.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img width="40" onclick="makeItQuack()" id="goosePic" src="/images/goose.png" alt="">
    <a class="navbar-brand" href="/">GameGoose</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="#">Add Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Game Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Message Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat Room</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          <li class="nav-item">
            <img id="avatarPhoto" height="50" src="<%= user.avatar %>" alt="">
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/google">Login with Google</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>