<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li>
          <a href="/auth/logout">Log Out</a>
        </li>
        <% } else { %>
        <li>
          <a href="/auth/google">Login with Google</a>
        </li>
        <% } %>
      </ul>
    </nav>